.intro{
    background-color: gray ;
    display: flex;
    .left{
        padding-left: 00px;
        flex: 0.2;
        background-color: white;
        
        overflow: hidden;
        .imageContainer{
            img{
                background-color: lightblue;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                float: right;
                border: 2px solid black;
                height: 90%;
            }
        }
    }
    .right{
        flex: 0.8;
        background-color: white;
        position: relative;
        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                font-size: 30px;
                margin: 10px;
            }
            h2{
                font-size: 17px;
            }
            h3{
                margin: 10px;
                font-size: 15px;
                span{
                    font-style: inherit;
                    color: crimson;
                }
                .ityped-cursor{
                    animation: blink 1s infinite;
                }
                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }
        }
        a{
            position: absolute;
            bottom: 10px;
            padding-left: 45%;
            img{
                width: 30px;
                animation: arrowBlink 2s infinite;
            }
            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }
}